## fdsf

In [48]:
from data_sources import meteo_live, pv_live, hist_dataset
from data_sync import synchronization

import pandas as pd

In [49]:
irr_df, temp_df, power_df = hist_dataset.get_separated()

In [50]:
power_df.iloc[0,0]

Timestamp('2024-07-05 15:01:00')

In [16]:
irr_df.iloc[0,0]

Timestamp('2024-07-05 13:01:00')

In [51]:
merged = synchronization.merge_on_timestamp(irr_df, temp_df)
df = synchronization.merge_on_timestamp(merged, power_df)

In [52]:
df

                timestamp  irradiance  temperature    true_power
0     2024-07-05 15:01:00       658.0         28.0  16081.516703
1     2024-07-05 15:11:00       555.0         27.0  11994.365093
2     2024-07-05 15:21:00       599.0         27.1  16361.028037
3     2024-07-05 15:31:00       625.0         27.4  10863.984139
4     2024-07-05 15:41:00       628.0         27.4  12340.530450
...                   ...         ...          ...           ...
12565 2024-09-30 21:11:00         0.0         12.6      3.176280
12566 2024-09-30 21:21:00         0.0         12.9      3.176280
12567 2024-09-30 21:31:00         0.0         13.2      3.176280
12568 2024-09-30 21:41:00         0.0         12.5      3.176280
12569 2024-09-30 21:51:00         0.0         11.9      3.176280

[12570 rows x 4 columns]

In [39]:
df["timestamp"] = pd.to_datetime(df["timestamp"], format="%Y-%m-%d %H:%M:%S")
df = df.set_index("timestamp")

In [40]:
df

                     irradiance  temperature    true_power
timestamp
2024-07-05 15:01:00       658.0         28.0  16081.516703
2024-07-05 15:11:00       555.0         27.0  11994.365093
2024-07-05 15:21:00       599.0         27.1  16361.028037
2024-07-05 15:31:00       625.0         27.4  10863.984139
2024-07-05 15:41:00       628.0         27.4  12340.530450
...                         ...          ...           ...
2024-09-30 21:11:00         0.0         12.6      3.176280
2024-09-30 21:21:00         0.0         12.9      3.176280
2024-09-30 21:31:00         0.0         13.2      3.176280
2024-09-30 21:41:00         0.0         12.5      3.176280
2024-09-30 21:51:00         0.0         11.9      3.176280

[12570 rows x 3 columns]

In [55]:
from datetime import datetime

now = datetime.now()
now = now.replace(year = 2024, month = 7)

In [56]:
df[ df["timestamp"] <= now ]

               timestamp  irradiance  temperature    true_power
0    2024-07-05 15:01:00       658.0         28.0  16081.516703
1    2024-07-05 15:11:00       555.0         27.0  11994.365093
2    2024-07-05 15:21:00       599.0         27.1  16361.028037
3    2024-07-05 15:31:00       625.0         27.4  10863.984139
4    2024-07-05 15:41:00       628.0         27.4  12340.530450
...                  ...         ...          ...           ...
3315 2024-07-28 15:31:00       566.0         31.3  16400.454363
3316 2024-07-28 15:41:00       542.0         31.0  16237.774990
3317 2024-07-28 15:51:00       510.0         31.2  16198.877834
3318 2024-07-28 16:01:00       481.0         30.9  15942.594462
3319 2024-07-28 16:11:00       452.0         30.7  15647.485116

[3320 rows x 4 columns]

In [46]:
df["pred_power"] = None
df["rmse"] = None 
df["state"] = "raw"

In [47]:
df

,irradiance,temperature,true_power,pred_power,rmse,state
timestamp,,,,,,
2024-07-05 15:01:00,658.0,28.0,16081.516703,None,None,raw
2024-07-05 15:11:00,555.0,27.0,11994.365093,None,None,raw
2024-07-05 15:21:00,599.0,27.1,16361.028037,None,None,raw
2024-07-05 15:31:00,625.0,27.4,10863.984139,None,None,raw
2024-07-05 15:41:00,628.0,27.4,12340.530450,None,None,raw
...,...,...,...,...,...,...
2024-09-30 21:11:00,0.0,12.6,3.176280,None,None,raw
2024-09-30 21:21:00,0.0,12.9,3.176280,None,None,raw
2024-09-30 21:31:00,0.0,13.2,3.176280,None,None,raw
2024-09-30 21:41:00,0.0,12.5,3.176280,None,None,raw
2024-09-30 21:51:00,0.0,11.9,3.176280,None,None,raw

## asdfgh

In [1]:
import pandas as pd
from data_sources import extraction, hist_dataset
from data_sync import synchronization

In [2]:
df = extraction.load_dataframe()

live extraction did not succeed, data will be simulated
hist_dataset.py - Retrieving existing merged dataset

In [3]:
df

,irradiance,temperature,true_power,pred_power,rmse,pred_time,state
timestamp,,,,,,,
2024-07-05 15:01:00,658.0,28.0,16081.516703,None,None,None,raw
2024-07-05 15:11:00,555.0,27.0,11994.365093,None,None,None,raw
2024-07-05 15:21:00,599.0,27.1,16361.028037,None,None,None,raw
2024-07-05 15:31:00,625.0,27.4,10863.984139,None,None,None,raw
2024-07-05 15:41:00,628.0,27.4,12340.530450,None,None,None,raw
...,...,...,...,...,...,...,...
2024-07-29 14:31:00,718.0,34.0,16947.976256,None,None,None,raw
2024-07-29 14:41:00,691.0,33.4,16957.336457,None,None,None,raw
2024-07-29 14:51:00,672.0,33.5,16966.003706,None,None,None,raw
2024-07-29 15:01:00,646.0,33.3,16831.873011,None,None,None,raw
2024-07-29 15:11:00,618.0,32.9,16838.241885,None,None,None,raw

In [68]:
lasts = df.iloc[-5:,:]
lasts

head = { "irradiance":None, "temperature":None, "true_power":None, "pred_power":None, "pred_time":None, "rmse":None, "state":"empty"}
head =pd.DataFrame(head, index=[datetime.now()])
head

,timestamp,irradiance,temperature,true_power,pred_power,pred_time,rmse,state
0,2025-11-29 15:56:23.122767,None,None,None,None,None,None,empty

In [53]:
current = df.iloc[-1]
current = pd.DataFrame([current])
current

,irradiance,temperature,true_power,pred_power,rmse,pred_time,state
2024-07-28 20:21:00,0.0,25.3,354.635111,None,None,None,raw

In [43]:
if current.iloc[0].name > df0.iloc[-1].name:
    test = pd.concat([df0, current], axis=0)

In [46]:
test

,irradiance,temperature,true_power,pred_power,rmse,pred_time,state
2024-07-05 15:01:00,658.0,28.0,16081.516703,None,None,None,raw
2024-07-05 15:11:00,555.0,27.0,11994.365093,None,None,None,raw
2024-07-05 15:21:00,599.0,27.1,16361.028037,None,None,None,raw
2024-07-05 15:31:00,625.0,27.4,10863.984139,None,None,None,raw
2024-07-05 15:41:00,628.0,27.4,12340.530450,None,None,None,raw
...,...,...,...,...,...,...,...
2024-07-28 19:41:00,0.0,25.6,3202.080885,None,None,None,raw
2024-07-28 19:51:00,0.0,25.4,2670.947680,None,None,None,raw
2024-07-28 20:01:00,0.0,25.3,1827.842371,None,None,None,raw
2024-07-28 20:11:00,0.0,25.2,456.385766,None,None,None,raw
2024-07-28 20:21:00,0.0,25.3,354.635111,None,None,None,raw

In [58]:
pd.DataFrame([extraction.load_dataframe().iloc[-1]])

live extraction did not succeed, data will be simulated
hist_dataset.py - Retrieving existing merged dataset

,irradiance,temperature,true_power,pred_power,rmse,pred_time,state
2024-07-28 21:11:00,0.0,24.5,41.620322,None,None,None,raw