In [1]:
# for modifying python scripts on the go
%load_ext autoreload
%autoreload 2

In [2]:
from data_processing import extract, synchronize, input_manager, format

from datetime import datetime

ts = datetime.now()

ts = ts.replace(year=2024, month=8, hour=7)
ts

datetime.datetime(2024, 8, 1, 7, 1, 7, 857350)

In [15]:
_, irf, tef, pof = extract.extract_input_dfs(ts, True)

In [17]:
df = synchronize.synchronize_dfs(irf, tef, pof)

In [18]:
df = format.format_for_storage(df)

In [19]:
df

,irradiance,temperature,true_power,pred_power,pred_time,rmse,state
timestamp,,,,,,,
2024-07-05 15:01:00,658.0,28.0,16081.516703,-1,-1,-1,raw
2024-07-05 15:11:00,555.0,27.0,11994.365093,-1,-1,-1,raw
2024-07-05 15:21:00,599.0,27.1,16361.028037,-1,-1,-1,raw
2024-07-05 15:31:00,625.0,27.4,10863.984139,-1,-1,-1,raw
2024-07-05 15:41:00,628.0,27.4,12340.530450,-1,-1,-1,raw
...,...,...,...,...,...,...,...
2024-08-01 09:01:00,219.0,19.6,4334.440862,-1,-1,-1,raw
2024-08-01 09:11:00,322.0,20.3,6921.221777,-1,-1,-1,raw
2024-08-01 09:21:00,204.0,19.8,7221.993574,-1,-1,-1,raw
2024-08-01 09:31:00,133.0,20.0,4885.679801,-1,-1,-1,raw
2024-08-01 09:41:00,391.0,20.7,3218.573692,-1,-1,-1,raw

In [21]:
df.to_excel("../data/merged_simulated_data.xlsx", index=True)

In [26]:
from data_sources.hist_dataset import get_merged

d = get_merged()

data_sources.hist_dataset - Retrieving existing merged dataset

In [27]:
d

,irradiance,temperature,true_power,pred_power,pred_time,rmse,state
timestamp,,,,,,,
2024-07-05 15:01:00,658.0,28.0,16081.516703,-1,-1,-1,raw
2024-07-05 15:11:00,555.0,27.0,11994.365093,-1,-1,-1,raw
2024-07-05 15:21:00,599.0,27.1,16361.028037,-1,-1,-1,raw
2024-07-05 15:31:00,625.0,27.4,10863.984139,-1,-1,-1,raw
2024-07-05 15:41:00,628.0,27.4,12340.530450,-1,-1,-1,raw
...,...,...,...,...,...,...,...
2024-08-01 09:01:00,219.0,19.6,4334.440862,-1,-1,-1,raw
2024-08-01 09:11:00,322.0,20.3,6921.221777,-1,-1,-1,raw
2024-08-01 09:21:00,204.0,19.8,7221.993574,-1,-1,-1,raw
2024-08-01 09:31:00,133.0,20.0,4885.679801,-1,-1,-1,raw
2024-08-01 09:41:00,391.0,20.7,3218.573692,-1,-1,-1,raw

In [3]:
i, t, p = extract.extract_last_input(ts, True)

extract check: irr_id == others: True, True

In [4]:
i.item()

358.0

In [8]:
as_df = synchronize.merge_row(ts, i, t, p)
as_df

                   timestamp  irradiance  temperature  true_power
0 2024-08-01 07:01:07.857350       358.0         20.8   55.307305

In [16]:
irf  = irf.set_index("timestamp")
irf

                     irradiance
timestamp
2024-07-05 13:01:00       762.0
2024-07-05 13:11:00       771.0
2024-07-05 13:21:00       887.0
2024-07-05 13:31:00       600.0
2024-07-05 13:41:00       602.0
...                         ...
2024-09-30 21:11:00         0.0
2024-09-30 21:21:00         0.0
2024-09-30 21:31:00         0.0
2024-09-30 21:41:00         0.0
2024-09-30 21:51:00         0.0

[12582 rows x 1 columns]

In [21]:
irf[ irf.index <= ts ]

                     irradiance
timestamp
2024-07-05 13:01:00       762.0
2024-07-05 13:11:00       771.0
2024-07-05 13:21:00       887.0
2024-07-05 13:31:00       600.0
2024-07-05 13:41:00       602.0
...                         ...
2024-08-01 06:21:00       250.0
2024-08-01 06:31:00       295.0
2024-08-01 06:41:00       288.0
2024-08-01 06:51:00       223.0
2024-08-01 07:01:00       358.0

[3853 rows x 1 columns]

In [20]:
ts

datetime.datetime(2024, 8, 1, 7, 1, 7, 857350)