In [49]:
# for modifying python scripts on the go
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## live data

## storage class

In [50]:
from data_storage.storage_manager import Storage
from datetime import datetime

storage = Storage()

In [51]:
print(storage.head)
storage.df

{'irradiance': -1, 'temperature': -1, 'true_power': -1, 'pred_power': -1, 'pred_time': -1, 'rmse': -1, 'state': 'empty'}

In [52]:
ts = datetime.now()
ts = ts.replace(year = 2024, month = 8)
ts

datetime.datetime(2024, 8, 1, 13, 13, 3, 962401)

In [53]:
storage.initial_load(ts, True)

data_sources.hist_dataset - Removing merged dataset
data_sources.hist_dataset - Saving merged dataset

In [54]:
print(storage.head)
storage.df.index

{'irradiance': -1, 'temperature': -1, 'true_power': -1, 'pred_power': -1, 'pred_time': -1, 'rmse': -1, 'state': 'empty'}

,irradiance,temperature,true_power,pred_power,pred_time,rmse,state
timestamp,,,,,,,
2024-07-05 15:01:00,658.0,28.0,16081.516703,-1,-1,-1,raw
2024-07-05 15:11:00,555.0,27.0,11994.365093,-1,-1,-1,raw
2024-07-05 15:21:00,599.0,27.1,16361.028037,-1,-1,-1,raw
2024-07-05 15:31:00,625.0,27.4,10863.984139,-1,-1,-1,raw
2024-07-05 15:41:00,628.0,27.4,12340.530450,-1,-1,-1,raw
...,...,...,...,...,...,...,...
2024-08-01 12:21:00,912.0,26.3,10261.766966,-1,-1,-1,raw
2024-08-01 12:31:00,932.0,27.5,15580.361288,-1,-1,-1,raw
2024-08-01 12:41:00,930.0,27.1,15621.616064,-1,-1,-1,raw
2024-08-01 12:51:00,923.0,28.3,15879.465400,-1,-1,-1,raw
2024-08-01 13:01:00,531.0,26.8,16048.177597,-1,-1,-1,raw

In [70]:
tss = storage.df.index
f"Recorded from {tss[0].day:02}.{tss[0].month:02}.{tss[0].year} to {tss[-1].day:02}.{tss[-1].month:02}.{tss[-1].year:02}"

ValueError: Precision not allowed in integer format specifier

In [21]:
ts, _ = storage.process_new_input(ts)

data_sources.hist_dataset - Retrieving existing merged dataset

In [64]:
print(storage.head)
(storage.df.index)[0].day

{'irradiance': -1, 'temperature': -1, 'true_power': -1, 'pred_power': -1, 'pred_time': -1, 'rmse': -1, 'state': 'empty'}

5

In [27]:
inputs_raw = storage.get_k_latest(5)
inputs_raw

,irradiance,temperature,true_power,pred_power,pred_time,rmse,state
timestamp,,,,,,,
2024-08-01 10:21:00,863.0,22.2,276.259404,-1,-1,-1,raw
2024-08-01 10:31:00,847.0,22.5,822.800527,-1,-1,-1,raw
2024-08-01 10:41:00,857.0,23.1,980.991800,-1,-1,-1,raw
2024-08-01 10:51:00,862.0,23.4,1798.196211,-1,-1,-1,raw
2024-08-01 11:01:00,868.0,23.6,4813.532974,-1,-1,-1,raw

## dd

In [36]:
##
from data_processing.input_manager import InputManager
from datetime import datetime
from data_processing.extract import extract_last_input

In [34]:
inp = InputManager()
ts, df = inp.load_current(datetime.now())

In [37]:
d = extract_last_input(ts, True)

data_sources.hist_dataset - Retrieving existing merged dataset

In [48]:
d[0].item()

AttributeError: 'Timestamp' object has no attribute 'datetime'

In [20]:
df.iloc[:-1]

,irradiance,temperature,true_power,pred_power,pred_time,rmse,state
timestamp,,,,,,,
2024-07-05 15:01:00,658.0,28.0,16081.516703,-1,-1,-1,raw
2024-07-05 15:11:00,555.0,27.0,11994.365093,-1,-1,-1,raw
2024-07-05 15:21:00,599.0,27.1,16361.028037,-1,-1,-1,raw
2024-07-05 15:31:00,625.0,27.4,10863.984139,-1,-1,-1,raw
2024-07-05 15:41:00,628.0,27.4,12340.530450,-1,-1,-1,raw
...,...,...,...,...,...,...,...
2024-07-30 17:21:00,137.0,31.7,9650.942687,-1,-1,-1,raw
2024-07-30 17:31:00,113.0,30.1,8564.614487,-1,-1,-1,raw
2024-07-30 17:41:00,112.0,30.0,4974.503509,-1,-1,-1,raw
2024-07-30 17:51:00,88.0,30.6,11152.953999,-1,-1,-1,raw
2024-07-30 18:01:00,73.0,30.3,6446.867928,-1,-1,-1,raw

In [23]:
storage.initial_load(datetime.now())

data_processing.extract - live extraction does not seem possible yet, data will be simulated
                     irradiance  temperature    true_power  pred_power  \
timestamp
2024-07-05 15:01:00       658.0         28.0  16081.516703          -1
2024-07-05 15:11:00       555.0         27.0  11994.365093          -1
2024-07-05 15:21:00       599.0         27.1  16361.028037          -1
2024-07-05 15:31:00       625.0         27.4  10863.984139          -1
2024-07-05 15:41:00       628.0         27.4  12340.530450          -1
...                         ...          ...           ...         ...
2024-07-30 17:31:00       113.0         30.1   8564.614487          -1
2024-07-30 17:41:00       112.0         30.0   4974.503509          -1
2024-07-30 17:51:00        88.0         30.6  11152.953999          -1
2024-07-30 18:01:00        73.0         30.3   6446.867928          -1
2024-07-30 18:11:00        62.0         30.1   5797.797879          -1

                     pred_time  rmse state
timestamp
2024-07-05 15:01:00         -1    -1   raw
2024-07-05 15:11:00         -1    -1   raw
2024-07-05 15:21:00         -1    -1   raw
2024-07-05 15:31:00         -1    -1   raw
2024-07-05 15:41:00         -1    -1   raw
...                        ...   ...   ...
2024-07-30 17:31:00         -1    -1   raw
2024-07-30 17:41:00         -1    -1   raw
2024-07-30 17:51:00         -1    -1   raw
2024-07-30 18:01:00         -1    -1   raw
2024-07-30 18:11:00         -1    -1   raw

[3620 rows x 7 columns]

In [24]:
storage.df

,irradiance,temperature,true_power,pred_power,pred_time,rmse,state
timestamp,,,,,,,
2024-07-05 15:01:00,658.0,28.0,16081.516703,-1,-1,-1,raw
2024-07-05 15:11:00,555.0,27.0,11994.365093,-1,-1,-1,raw
2024-07-05 15:21:00,599.0,27.1,16361.028037,-1,-1,-1,raw
2024-07-05 15:31:00,625.0,27.4,10863.984139,-1,-1,-1,raw
2024-07-05 15:41:00,628.0,27.4,12340.530450,-1,-1,-1,raw
...,...,...,...,...,...,...,...
2024-07-30 17:21:00,137.0,31.7,9650.942687,-1,-1,-1,raw
2024-07-30 17:31:00,113.0,30.1,8564.614487,-1,-1,-1,raw
2024-07-30 17:41:00,112.0,30.0,4974.503509,-1,-1,-1,raw
2024-07-30 17:51:00,88.0,30.6,11152.953999,-1,-1,-1,raw
2024-07-30 18:01:00,73.0,30.3,6446.867928,-1,-1,-1,raw

In [ ]:
##

In [4]:
from data_processing.format import prepare_input

In [20]:
l = [*storage.df["irradiance"]]
len(l)

3600

In [57]:
## wait a bit

In [58]:
from datetime import datetime
timestamp = datetime.now()
timestamp = timestamp.replace(second=0, microsecond=0)
timestamp

datetime.datetime(2025, 11, 29, 18, 27)

In [59]:
head = storage.process_new_input(timestamp)
head

data_processing.extract - live extraction does not seem possible yet, data will be simulated
data_sources.hist_dataset - Retrieving existing merged dataset

{'irradiance': 34.0,
 'temperature': 28.9,
 'true_power': 9752.340388999999,
 'pred_power': None,
 'pred_time': None,
 'rmse': None,
 'state': 'raw'}

In [60]:
lasts = storage.get_k_latest(2)
lasts

,irradiance,temperature,true_power,pred_power,pred_time,rmse,state
timestamp,,,,,,,
2024-07-29 18:01:00,40.0,29.1,10408.987345,None,None,None,raw
2024-07-29 18:11:00,34.0,28.9,9752.340389,None,None,None,raw

In [ ]:
## normalize and format

In [ ]:
## get model pred and computation time

In [61]:
## denormalize pred
pred = 5555
speed = 0.7

In [62]:
storage.change_head(timestamp, pred, speed)

In [63]:
print(storage.head)
storage.df

{'irradiance': -1, 'temperature': -1, 'true_power': -1, 'pred_power': 5555, 'pred_time': 0.7, 'rmse': None, 'state': 'prediction'}

,irradiance,temperature,true_power,pred_power,pred_time,rmse,state
2024-07-05 15:01:00,658.0,28.0,16081.516703,None,None,None,raw
2024-07-05 15:11:00,555.0,27.0,11994.365093,None,None,None,raw
2024-07-05 15:21:00,599.0,27.1,16361.028037,None,None,None,raw
2024-07-05 15:31:00,625.0,27.4,10863.984139,None,None,None,raw
2024-07-05 15:41:00,628.0,27.4,12340.530450,None,None,None,raw
...,...,...,...,...,...,...,...
2024-07-29 17:41:00,120.0,30.3,11582.486809,None,None,None,raw
2024-07-29 17:51:00,46.0,29.9,11123.281577,None,None,None,raw
2024-07-29 18:01:00,40.0,29.1,10408.987345,None,None,None,raw
2024-07-29 18:11:00,34.0,28.9,9752.340389,None,None,None,raw
2025-11-29 18:27:00,34.0,28.9,9752.340389,None,None,None,raw

## next loop

In [72]:
from datetime import timedelta
timestamp = datetime.now() + timedelta(minutes= 5)
timestamp = timestamp.replace(hour=13,second=0, microsecond=0)
timestamp

datetime.datetime(2025, 11, 29, 13, 36)

In [78]:
head = storage.process_new_input(timestamp)
head

data_processing.extract - live extraction does not seem possible yet, data will be simulated
data_sources.hist_dataset - Retrieving existing merged dataset

{'irradiance': 832.0,
 'temperature': 32.5,
 'true_power': 16716.052939,
 'pred_power': 6666,
 'pred_time': 0.8,
 'rmse': 10050.052939000001,
 'state': 'full'}

In [79]:
lasts = storage.get_k_latest(2)
lasts

,irradiance,temperature,true_power,pred_power,pred_time,rmse,state
2025-11-29 18:27:00,34.0,28.9,9752.340389,None,NaN,None,raw
2025-11-29 18:34:00,34.0,28.9,9752.340389,5555,0.7,None,prediction

In [80]:
pred = 6666
speed = 0.8

C:\Users\Sara\Downloads\pv-framework-test\src\data_storage\storage_manager.py:70: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  self.df = pd.concat([self.df, head_df], axis=0)

In [82]:
print(storage.head)
storage.df

{'irradiance': -1, 'temperature': -1, 'true_power': -1, 'pred_power': 6666, 'pred_time': 0.8, 'rmse': None, 'state': 'prediction'}

,irradiance,temperature,true_power,pred_power,pred_time,rmse,state
2024-07-05 15:01:00,658.0,28.0,16081.516703,None,NaN,NaN,raw
2024-07-05 15:11:00,555.0,27.0,11994.365093,None,NaN,NaN,raw
2024-07-05 15:21:00,599.0,27.1,16361.028037,None,NaN,NaN,raw
2024-07-05 15:31:00,625.0,27.4,10863.984139,None,NaN,NaN,raw
2024-07-05 15:41:00,628.0,27.4,12340.530450,None,NaN,NaN,raw
...,...,...,...,...,...,...,...
2024-07-29 18:01:00,40.0,29.1,10408.987345,None,NaN,NaN,raw
2024-07-29 18:11:00,34.0,28.9,9752.340389,None,NaN,NaN,raw
2025-11-29 18:27:00,34.0,28.9,9752.340389,None,NaN,NaN,raw
2025-11-29 18:34:00,34.0,28.9,9752.340389,5555,0.7,NaN,prediction
2025-11-29 13:36:00,832.0,32.5,16716.052939,6666,0.8,10050.052939,full

## test normalize

In [94]:
lasts = storage.get_k_latest(2)
lasts

,irradiance,temperature,true_power,pred_power,pred_time,rmse,state
2025-11-29 18:34:00,34.0,28.9,9752.340389,5555,0.7,NaN,prediction
2025-11-29 13:36:00,832.0,32.5,16716.052939,6666,0.8,10050.052939,full

In [102]:
lasts

,irradiance,temperature,true_power,pred_power,pred_time,rmse,state
2025-11-29 18:34:00,34.0,28.9,9752.340389,5555,0.7,NaN,prediction
2025-11-29 13:36:00,832.0,32.5,16716.052939,6666,0.8,10050.052939,full

In [122]:
dow_dict = {
    0:2, # monday
    1:3,
    2:4,
    3:5,
    4:6,
    5:7,
    6:1 # sunday
}

def format_for_model(df):

    out = []

    for _, row in df.iterrows():

        

        ts = row.name

        dow = day_of_week(ts)

        entry = [row["irradiance"], row["temperature"], row["true_power"], ts.hour, dow, ts.month]

        out.append(entry)

    return out

def day_of_week(ts):

    dow_datetime = ts.weekday()

    return dow_dict[dow_datetime]

In [120]:
lasts

,irradiance,temperature,true_power,pred_power,pred_time,rmse,state
2025-11-29 18:34:00,34.0,28.9,9752.340389,5555,0.7,NaN,prediction
2025-11-29 13:36:00,832.0,32.5,16716.052939,6666,0.8,10050.052939,full

In [121]:
out = format_for_model(lasts)
out

[[34.0, 28.9, 9752.340388999999, 18, 7, 11],
 [832.0, 32.5, 16716.052939, 13, 7, 11]]

## test time

In [28]:
ts = datetime(2024, 7, 6, 0, 0, 0)

In [29]:
ts

datetime.datetime(2024, 7, 6, 0, 0)

In [123]:
ts = datetime.now()

In [127]:
ts2 = datetime.now()

In [130]:
ts3 = ts2 - ts

In [132]:
ts3.microseconds / 1000000

0.17036

In [133]:
ts3

datetime.timedelta(seconds=80, microseconds=170360)

In [25]:

import matplotlib.pyplot as plt

In [31]:
fig = plt.Figure(figsize=(10, 8), dpi=100)

ax = fig.add_subplot(111)
ax.set_title("RMSE over time")
ax.set_xlabel("Loop")
ax.set_ylabel("RMSE")

if 1 != 0:
    ax.set_xlim(0,4)
else:
    ax.set_xlim([0,15])

In [30]:
fig