In [2]:
import numpy as np
import scipy.io as sio

In [3]:
path_in="../data/test/input.mat"
path_out="../data/test/output_denorm.mat"
path_pred="../data/test/pred_denorm.mat"

In [4]:
def load_first_array(path):
    d = sio.loadmat(path)
    # find first ndarray in the dict (skip meta keys)
    for k, v in d.items():
        if k.startswith("__"):
            continue
        if isinstance(v, np.ndarray):
            return v
    raise ValueError(f"No array found in {path}")

In [7]:
in_arr = load_first_array(path_in)

In [8]:
ou_arr = load_first_array(path_out)

In [30]:
p_arr = load_first_array(path_pred)

In [10]:
import pandas as pd

In [17]:

def to_pd(arr):
    flattened_data = []
    for sub_array in arr:
        flattened_data.append(sub_array[0])
    
    flattened_data = np.vstack(flattened_data)
    
    return pd.DataFrame(flattened_data, columns=['t-2', 't-1'])

In [18]:
in_df = to_pd(in_arr)
in_df

            t-2       t-1
0      1.738462  1.767924
1      1.253166  1.303915
2      2.121657  1.392183
3      0.565217  0.565217
4      0.833333  0.833333
...         ...       ...
72019 -1.081296 -1.199711
72020 -0.748000 -0.748000
72021  0.913043  0.913043
72022  0.166667  0.166667
72023  0.727273  0.727273

[72024 rows x 2 columns]

In [27]:
ou_df = pd.DataFrame(ou_arr, columns=['real_pv'])

In [28]:
ou_df

            real_pv
0      16361.028037
1      10863.984139
2      12340.530450
3      12068.372922
4      18101.368226
...             ...
11999      3.176280
12000      3.176280
12001      3.176280
12002      3.176280
12003      3.176280

[12004 rows x 1 columns]

In [32]:
p_df = pd.DataFrame(p_arr, columns=['pred_pv'])

In [33]:
p_df

            pred_pv
0      12436.953125
1      15674.598633
2      11036.835938
3      11692.007812
4      12447.664062
...             ...
11999    -35.044113
12000    -18.227709
12001    -20.055346
12002    -21.189623
12003    -17.578783

[12004 rows x 1 columns]

In [41]:
merged = pd.merge(ou_df, p_df, left_index=True, right_index=True, how='inner')

In [42]:
merged

            real_pv       pred_pv
0      16361.028037  12436.953125
1      10863.984139  15674.598633
2      12340.530450  11036.835938
3      12068.372922  11692.007812
4      18101.368226  12447.664062
...             ...           ...
11999      3.176280    -35.044113
12000      3.176280    -18.227709
12001      3.176280    -20.055346
12002      3.176280    -21.189623
12003      3.176280    -17.578783

[12004 rows x 2 columns]

In [43]:
in_df

            t-2       t-1
0      1.738462  1.767924
1      1.253166  1.303915
2      2.121657  1.392183
3      0.565217  0.565217
4      0.833333  0.833333
...         ...       ...
72019 -1.081296 -1.199711
72020 -0.748000 -0.748000
72021  0.913043  0.913043
72022  0.166667  0.166667
72023  0.727273  0.727273

[72024 rows x 2 columns]

In [44]:
path = "../output/6_7_24/output_data_6_7_24.csv"

In [48]:
p_py = pd.read_excel(path, engine="xlrd")

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 2.0.1 for xls Excel support Use pip or conda to install xlrd.